In [1]:
import pandas as pd
import sqlite3
path = 'data/twcs.csv'
db = sqlite3.connect(path)

In [4]:
df = pd.read_csv(path)
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [17]:
df.isnull().sum()

tweet_id                         0
author_id                        0
inbound                          0
created_at                       0
text                             0
response_tweet_id          1040629
in_response_to_tweet_id     794335
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2811774 entries, 2496505 to 346323
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tweet_id                 int64
 1   author_id                object
 2   inbound                  bool
 3   created_at               object
 4   text                     object
 5   response_tweet_id        object
 6   in_response_to_tweet_id  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 152.8+ MB

In [9]:
df['created_at'] = pd.to_datetime(df['created_at'])
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
2496505,2666295,751178,True,2016-04-01 17:37:48+00:00,@AskSeagate Same issue Seagate. Is there a sol...,2666294,2666296.0
2496504,2666294,AskSeagate,False,2016-04-01 18:22:40+00:00,@751178 Pls give us more clarification on your...,2666293,2666295.0
2496503,2666293,751178,True,2016-04-01 18:25:52+00:00,@AskSeagate Bootstrap and media server daemon ...,2666291,2666294.0
2496501,2666291,AskSeagate,False,2016-04-01 19:53:33+00:00,@751178 Pls use the link bellow to download th...,2666292,2666293.0
352823,402549,211231,True,2015-04-03 19:57:41+00:00,@AsurionCares How do I get a receipt of my mon...,402547,NaN

In [10]:
df = df.sort_values(by = 'created_at')

In [11]:
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
706552,790341,SouthwestAir,False,2008-05-08 20:13:59+00:00,@34622 Have FUN at the lecture tonight! Tell...,790326,790342.0
706551,790326,308466,True,2008-05-08 21:04:16+00:00,@SouthwestAir Can you pls enter the HI market ...,"790327,790328,790325,790329,790330,790331,7903...",790341.0
1604529,1757947,529256,True,2010-02-16 15:49:47+00:00,KTAR.com - Foreclosures still big problem in V...,1757946,NaN
2129896,2291020,665443,True,2010-03-31 15:24:29+00:00,@665445 Do you know if Carl's Jr serves lunch ...,2291018,NaN
2129894,2291018,CarlsJr,False,2010-03-31 16:53:27+00:00,@665443 We serve lunch all day!,2291019,2291020.0

In [13]:
len(df)

2811774

In [19]:
def make_sentences(series):
    return '. '.join(series)

## initialize empty df
train_data = pd.DataFrame(columns = ['text', 'response'])

## iterate through response tweet
for person in pd.unique(df['tweet_id']):
    conversation = df[df['tweet_id'] == person]
    grouped = (conversation.groupby(conversation.is_from_me.diff()
               .ne(0).cumsum(), as_index=False)
               .agg({'text':make_sentences,
               'author_id':'first', 'created_at':'first'}))

AttributeError: 'DataFrame' object has no attribute 'is_from_me'